:root {
    --sage: #16ac90;
    --cream: rgb(238, 240, 234);
    --dark-teal: rgb(0, 73, 68);
}
body {
    background-color: var(--cream);
    color: var(--dark-teal);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   /* flex: auto; */ 
    background: linear-gradient(180deg, var(--dark-teal),var(--sage));
    width: 100%;
    color: var(--cream);
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-left: 20px;
} 

.header nav {
    display: inline-block;
}

.header nav ul {
    list-style-type: none;
}
.header nav ul li{
    display: inline-block;
}

a {
    color: var(--cream);
    text-decoration: none;
    padding: 15px;
}
article {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; add to media query instead */
    padding-left: 15px;
    margin-left: 15px;
    padding-top: 25px;
    
}
aside {
    width: 35%;
}
img {
    width: 100%;
}
.contact-links {
    color: var(--sage);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto;
    padding-top: 25px; */
    width: 500px;
    
}
.contact-links a {
    color: var(--sage);
}

/* .works {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} */
.footer {
    text-align: center;
}
